body{
  background-color: tan;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 200%;
  font-family: cursive;
  font-size: 25px;
}

h2 {
  font-size: 1.2em;
}

span {
  color: green;
}

#special {
  color: brown;
}

.guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    color: black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: #a7cece;
    padding: 25px;
    margin: 30px;
    background-image: url(https://raw.githubusercontent.com/miezuit/html_css_training/master/starbuzz/images/background.gif);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    width: 200px;
    height: 200px;

  }
